gym==0.21.0
numpy < 1.22
matplotlib
pygame
scipy
path.py
python-dateutil
joblib==0.10.3
mako
Box2D
theano
cached-property
salina @ git+https://github.com/osigaud/salina.git@main
rllab @ git+https://github.com/rll/rllab.git@master
